<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lan_Attendance</title>
</head>
<body>
	<center>
		<h1>Mark Your Attendance</h1>
		<br>
		<form action="home.html" method="post">
			<label for="roll">Roll No.</label><br>
			<input type="text" id="roll" name="roll"><br>
			<label for="name">Name</label><br>
			<input type="text" id="name" name="name"><br><br>
			<input type="submit" value="Mark Attendance">
		</form>
		<br><br>
		<a href="index.html">Go to home</a>
	</center>
</body>
</html>